@model CatagoryVM

<h1>Adding New Catagory </h1>

@using (Html.BeginForm("Create", "Catagory", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <br />
    <div>
        @Html.Label("Catagory Name")
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        @Html.Label("Catagory Description")
        @Html.TextBoxFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <br />
    <input type="submit" value="Create" />
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>